html {
  font-family: "Sora", Verdana, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: contain;
  object-position: top center;
}

.box-shadow {
  box-shadow: 1rem 1rem 2.5rem 0px rgba(85, 85, 85, 0.08);
}

.article-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 23rem;
  margin: 10.25rem auto 0 auto;
}

.upper-section {
  padding: 0 1rem 0 1rem;
  border-bottom: 0.125rem solid #E5EAF0;
}

.article-cover {
  margin-bottom: 1rem;
  width: 21rem;
  height: auto;
}

.tag-container {
  display: flex;
  margin-bottom: 1rem;
}

.tag {
  color: #7C19EE;
  background-color: #F2EAFD;
  margin: 0;
  border: 0.375rem solid #F2EAFD;
  border-left-width: 1rem;
  border-right-width: 1rem;
  border-radius: 0.375rem;
  font-size: 0.625rem;
}

.content {
  margin-bottom: 1.25rem;
}

h1.title {
  font-size: 1.125rem;
  margin-bottom: 0.375rem;
}

p.description {
  font-size: 0.875rem;
  color: #394150;
}

div.lower-section {
  padding: 0 1.25rem;
  margin: 0;
  margin-top: 1.25rem;
}

p.author {
  font-size: 0.75rem;
  color: #394150;
  margin: 0;
  margin-top: 1rem;
}