html {
  font-size: 16px;
  box-sizing: border-box;
}

.box-shadow {
  box-shadow: 1rem 1rem 2.5rem 0px rgba(85, 85, 85, 0.08);
}

/* Mobile first */
.article-container {
  border: 1rem solid white;
  border-radius: 1rem 1rem 1.25rem 1rem;
  width: 21rem;
  margin: 10.25rem auto 0 auto;
}

.article-cover {
  margin-bottom: 1rem;
}

.tags {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  border: 0.375rem solid #F2EAFD;
  border-left-width: 1rem;
  border-right-width: 1rem;
  border-radius: 0.375rem;
}


.tags p {
  color: #7C19EE;
  background-color: #F2EAFD;
  margin: 0;
}

h1.title {
  font-size: 1.125rem;
}

p.description {
  font-size: 0.875rem;
}